:root {
    --form_color: #21262d;
    --auth_button_color: #238636;
    --border_color: #30363d;
    --link_hover_color: #bac8da;
    --blue_primary: #2f81f7;
    --blue_secondary: #1c55a6;
    --header_background_color: #161b22;
}

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    scrollbar-color: #30363d;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}